################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BilibiliDanmu.csproj
# 屏蔽bin目录及obj目录及其子目录下的所有文件
**/bin/
**/obj/
# 屏蔽.suo文件
*.suo
# 屏蔽.vs文件夹
**/.vs/
# 屏蔽.vscode文件夹
**/.vscode/
